<h1 class="text-center text-success text-decoration-underline">
   Welcome To Anarkan Hospital
</h1>


<a asp-controller="Doctors" asp-action="Index" class="btn btn-primary mt-3">
   <i class="fa-solid fa-list"></i> Doctors
    </a>
<hr />
<a asp-controller="Patients" asp-action="Index" class="btn btn-secondary">
    <i class="fa-solid fa-list-alt"></i>
     Patients</a>


